{%extends "layout/base/base-employee.html"%}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/dashboard.css')}}">
{% endblock %}

{%block main%}
<div class="col py-4">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
        <h4 class="fw-semibold mb-2">Xin chào {{ current_user.fullname }} 👋</h4>
    </div>
    <ul class="nav nav-pills order-type-nav mb-3">
        {% for ot in order_types %}
        <li class="nav-item">
            <a class="nav-link {{ 'active' if current_order_type == ot }}"
               href="{{ url_for('employee_web.dashboard', order_type=ot.name, order_status=current_order_status) }}">
                {{ ot.value }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <ul class="nav nav-pills order-status-nav mb-3">
        <li class="nav-item">
            <a class="nav-link {{ 'active' if current_order_status == 'ALL' }}"
               href="{{ url_for('employee_web.dashboard', order_type=current_order_type.name, order_status='ALL') }}">
                Tất cả
            </a>
        </li>
        {% for os in status_map[current_order_type] %}
        <li class="nav-item">
            <a class="nav-link {{ 'active' if current_order_status == os.name }}"
               href="{{ url_for('employee_web.dashboard', order_type=current_order_type.name, order_status=os.name) }}">
                {{ os.value }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="row g-3 mb-4">
        {% for o in orders %}
            {% if o.status.name != 'UNPAID' %}
            <div class="col-md-3">
                <a class="text-decoration-none" href="{{ url_for('employee_web.order_detail', id=o.id) }}">
                    <div class="order-card d-flex flex-column cursor-pointer gap-2 text-light p-3">
                        <div class="d-flex justify-content-between align-items-center mb-1">
                            <div class="fs-6 small opacity-75">
                                {{ 'DELIVERY' if current_order_type.name == 'ONLINE' else 'TABLE' }}
                            </div>
                            <span class="status px-2 py-1 small fw-semibold {{ o.status.name|lower }}">{{ o.status.value }}</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                            <div class="fs-5 fw-semibold">{{ o.id }}</div>
                            <span class="fw-light small">{{ o.created_date.strftime("%H:%M") }}</span>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{%endblock%}