DATABASE_URL=
CLOUDINARY_URL=
SECRET_KEY=
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENDPOINT=
MOMO_REQUEST_TYPE=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
