@import url("../components/animations.css");
@import url("../components/image-zoom.css");
@import url("../layout/header/header-home.css");

.background-section {
    background-image: url('../../images/home/background-home.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.video-section .video-content {
  position: relative;
  z-index: 1;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
.container {
  max-width: 1700px !important;
}
.two-image-section .container {
  max-width: 1500px !important;
}