.form-control:focus {
    border-color: #176438;
    box-shadow: 0 0 0 0.25rem rgba(23, 100, 56, 0.25);
}
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #e0e0e0;
}
.separator:not(:empty)::before {
margin-right: .5em;
}
.separator:not(:empty)::after {
margin-left: .5em;
}
.btn-outline-custom {
    color: #333333;
    border-color: #e0e0e0;
    background-color: transparent;
}
.btn-outline-custom:hover {
    background-color: #ffffff;
    border-color: #176438;
    color: #333333;
}