@import url("../components/image-zoom.css");

.container {
  max-width: 1800px !important;
}
.menu-sidebar {
    padding-top: 50px;
    padding-bottom: 24px;
    margin: 0;
}
.menu-sidebar .nav-item {
    margin-bottom: 12px;
}
.menu-sidebar .nav-link {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: #444;
}
.menu-sidebar .nav-link:hover {
    color: #00754a;
}
.menu-sidebar .menu-title {
    font-weight: 700;
    font-size: 16px;
    margin: 10px 0 8px;
}
html {
  scrollbar-gutter: stable;
}
.btn-detail {
  border: 1px solid #000;      /* viền đen */
  background-color: #fff;      /* nền trắng */
  color: #000;                 /* chữ đen */
  border-radius: 999px;        /* nếu muốn nút bo tròn kiểu pill, bỏ nếu không cần */
  padding: 0.25rem 0.9rem;     /* chỉnh kích thước nhẹ */
}

/* trạng thái hover */
.btn-detail:hover {
  background-color: #000;      /* nền đen */
  color: #fff;                 /* chữ trắng */
  border-color: #000;          /* viền đen */
  text-decoration: none;       /* bỏ gạch chân nếu có */
}
.btn-detail {
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}
/* Hover mở dropdown */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;   /* bỏ animation bị lệch */
}
