.total-card {
    border-radius: 16px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
}
.total-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
}
.cart-card {
    background-color: #123026;
    border-radius: 16px;
}