<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #004d40;">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold fs-3" href="{{ url_for('main.home') }}">CAFE</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse py-1" id="mynavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fs-4" href="{{ url_for('main.menu') }}">Menu</a>
                </li>
                {% if current_user.is_authenticated and current_user.is_employee %}
                <li class="nav-item fs-4">
                    <a class="nav-link" href="{{ url_for('employee_web.dashboard') }}">Dashboard</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto align-items-center gap-3">

                {% if current_user.is_authenticated and current_user.is_customer %}
                <li class="nav-item">
                    <a class="nav-link icon-hover position-relative" href="#" title="Thông báo" onclick="alert('sắp ra mắt...')">
                        <i class="fas fa-bell fa-lg text-light"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link icon-hover" href="{{ url_for('customer.cart') }}" title="Giỏ Hàng">
                        <i class="fas fa-shopping-cart fa-lg text-light"></i>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link p-0 text-decoration-none" href="#" id="userDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="user-pill d-flex align-items-center px-3 py-2 rounded-pill bg-light text-black">
                            <span class="fw-bold me-2 fs-5">
                                {{ current_user.username }}
                            </span>

                            <div class="bg-dark text-white rounded-circle me-1 overflow-hidden">
                                <img src="{{ current_user.avatar }}" width="40px" height="40px" alt="{{ current_user.avatar }}">
                            </div>

                            <i class="fas fa-chevron-down ms-1 text-secondary fs-5"></i>
                        </div>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end shadow border-0 mt-2" aria-labelledby="userDropdown">
                        <li>
                            <div class="dropdown-header text-muted small">Tài khoản</div>
                        </li>
                        <li>
                            <a class="dropdown-item py-2"
                               href="{{ url_for('customer.info') }}">
                                <i class="fas fa-id-card me-2 text-primary w-20"></i> Thông tin
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item py-2"
                               href="#" onclick='alert("Sắp ra mắt...")'>
                                <i class="fas fa-history me-2 text-info w-20"></i> Lịch sử đơn
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item py-2 text-danger fw-bold" href="{{ url_for('auth.signout') }}">
                                <i class="fas fa-sign-out-alt me-2 w-20"></i> Đăng xuất
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn btn-light rounded-pill px-4 text-success fw-bold fs-4" href="{{ url_for('auth.signin') }}">
                        Đăng Nhập</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>