.hero-section {
    background-image: url('../images/background-index.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
  position: relative;
  padding-bottom: 0.25rem;
}
.navbar-dark .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}
.navbar-dark .navbar-nav .nav-link:hover::after {
  width: 100%;
}
.navbar {
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.navbar.header-scrolled {
  position: fixed;
}
.navbar.header-hidden {
  transform: translateY(-100%);
}
.hero-section .hero-content {
  position: relative;
  z-index: 1;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
.space-section .col-md-6 {
  overflow: hidden;
}
.space-section img {
  display: block;
  **width: 100%;
  **height: auto;
  transition: transform 0.3s ease-out;
}
.space-section .col-md-6:hover img {
  transform: scale(1.05);
}