<div class="flash-overlay">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show mb-2" role="alert">

        {% if category == 'danger' %}
        <i class="fas fa-exclamation-circle me-2"></i>
        {% elif category == 'success' %}
        <i class="fas fa-check-circle me-2"></i>
        {% endif %}

        <span>{{ message }}</span>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>