<div class="col-md-3 col-lg-2">
    <div class="sidebar d-flex flex-column justify-content-between">
        <div>
            <div class="fw-bold fs-2 mb-4">CAFE</div>
            <nav class="nav flex-column sidebar-menu mb-3 gap-2">
                <a class="nav-link" href="{{ url_for('employee_web.dashboard') }}">
                    <span class="icon-wrap">🏠</span>
                    <span>Dashboard</span>
                </a>
                <a class="nav-link" href="{{ url_for('waiter_web.offline_order') }}">
                    <span class="icon-wrap">📝</span>
                    <span>Create Order</span>
                </a>
                <a class="nav-link" href="{{ url_for('waiter_web.goods_receipt_note') }}">
                    <span class="icon-wrap">📦</span>
                    <span>Create Note</span>
                </a>
                <a class="nav-link" href="{{ url_for('employee_web.dashboard') }}">
                    <span class="icon-wrap">📖</span>
                    <span>Recipe</span>
                </a>
                <a class="nav-link" href="{{ url_for('auth.signout') }}">
                    logout
                </a>
            </nav>
        </div>
        <div class="d-flex align-items-center">
            <div class="user-avatar me-2"></div>
            {% if current_user.is_authenticated %}
                <div class="small">
                    <div class="fw-semibold">{{ current_user.fullname }}</div>
                    <div class="text-muted">{{ current_user.user_role if current_user.user_role.name != 'EMPLOYEE' else current_user.employee_role}}</div>
                </div>
            {% else %}
                <div class="small">
                    <div class="fw-semibold">Dang Nhap</div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
