{%extends "layout/base/base.html"%}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/footer.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/footer/footer.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{%block header%}
    {%include "layout/header/header-home.html"%}
{%endblock%}

{%block content required%}
{%endblock%}

{%block footer%}
    {%include "layout/footer/footer.html"%}
{%endblock%}