{%extends "layout/base/base.html"%}

{% block css %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/footer/footer.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/header/header-main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% endblock %}

{%block header%}
    {%include "layout/header/header-main.html"%}
{%endblock%}

{%block content required%}
{%endblock%}

{%block footer%}
    {%include "layout/footer/footer.html"%}
{%endblock%}