.main-footer {
    background-color: #38624f;
    color: #fff;
    padding: 30px 20px 10px;
}

.social-icons {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    text-align: left;
    padding-left: 15px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
}

.icon-link {
    display: inline-block;
    color: #fff;
    margin-right: 15px;
    transition: opacity 0.3s;
}

.icon-link svg {
    vertical-align: middle;
}

.icon-link:hover {
    opacity: 0.8;
}
.footer-top {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 15px;
}

.footer-column {
    flex: 1 1 33.33%;
    padding: 0 15px;
    max-width: 33.33%;
}

.footer-column h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff;
    margin-top: 25px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a, .footer-column ul li {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    line-height: 1.5;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-divider {
    border: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 20px auto 20px auto;
    max-width: 1200px;
}

.footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer-links-lang {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    font-size: 0.85em;
}

.footer-links-lang .language {
    font-weight: bold;
}

.footer-links-lang a {
    color: #fff;
    text-decoration: none;
}

.footer-links-lang a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 0.8em;
    color: #fff;
    margin-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding-left: 0;
    }

    .footer-column {
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
        padding: 0 15px;
    }

    .social-icons {
        text-align: center;
        padding-left: 0;
    }
}