<footer class="main-footer">
    <div class="footer-top">
        <div class="footer-column">
            <h3>VỀ BÀI TẬP LỚN</h3>
            <ul>
                <li>Bài Tập Lớn Công Nghệ Phần Mềm</li>
                <li><a href="https://github.com/nguyentin05/cafe-management/" target="_blank">Git Hub Project</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>THÔNG TIN SINH VIÊN</h3>
            <ul>
                <li>Bùi Trọng Nghĩa</li>
                <li>MSSV: 2351010136</li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>THÔNG TIN SINH VIÊN</h3>
            <ul>
                <li>Nguyễn Trọng Tín</li>
                <li>MSSV: 2351010209</li>
                <li>tin.nguyen.cs05@gmail.com</li>
            </ul>
        </div>
    </div>

    <hr class="footer-divider">

    <div class="footer-bottom">
        <p class="copyright">
            © 2025 Nhóm Công Nghệ Phần Mềm.
        </p>
    </div>
</footer>