.scroll-animate {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.scroll-animate.slide-up {
  transform: translateY(50px);
}
.scroll-animate.slide-right {
  transform: translateX(-50px);
}
.scroll-animate.slide-left {
  transform: translateX(50px);
}

.scroll-animate.is-visible {
  opacity: 1;
  transform: none;
}